# .github/CODEOWNERS
*               @TejasVKolhe
backend/        @TejasVKolhe @gaya3jayan-11
frontend/       @TejasVKolhe @Sreeja-Karnati
db/             @TejasVKolhe @Sreeja-Karnati
.github/        @TejasVKolhe
